<!DOCTYPE html>
<html>
  <head>
      <meta name="google-site-verification" content="PG3GDDT3-gKmlhXvD7-VnBJ0JsX-CtYgOLHOj2bR1BU" />
    <title>{{title}}</title>

      {{#if production}}

          <link rel='stylesheet' href='/vendor.css' />
          <link rel='stylesheet' href='/scss.styles.css' />
          <link rel='stylesheet' href='/styles.inline.css' />

      {{else}}

          <link rel="stylesheet" href="/normalize-scss/normalize.css" />
          <link rel="stylesheet" href="/semantic/semantic.css" />
          <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
          <link rel="stylesheet" href="/medium-editor/dist/css/medium-editor.css" />
          <link rel="stylesheet" href="/medium-editor/dist/css/themes/default.min.css" />
          <link rel="stylesheet" href="/medium-editor-insert-plugin/dist/css/medium-editor-insert-plugin.css" />
          <link rel="stylesheet" href="/stylesheets/common.css" />
          <link rel="stylesheet" href="http://127.0.0.1:2992/_assets/style-inline.css" />
          <link rel="stylesheet" href="/stylesheets/react-select.min.css" />
          <link rel="stylesheet" href="/stylesheets/react-datepicker.min.css" />
          <link rel="stylesheet" href="/stylesheets/highlight.js/styles/androidstudio.css" />

      {{/if}}

    {{#if meta}}
      {{#each meta}}
        <meta property="{{name}}" content="{{content}}" />
      {{/each}}
    {{/if}}
    <meta name="google-site-verification" content="PG3GDDT3-gKmlhXvD7-VnBJ0JsX-CtYgOLHOj2bR1BU" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109181235-1"></script>
  </head>
  <body>
      <div id="app">
        {{{body}}}
      </div>

      {{#if production}}

          <script src="/vendor.js"></script>
          <script type="text/javascript" src="/iamport.js"></script>
          <script src="/manifest.js"></script>
          <script src="/vendors.js"></script>
          <script src="/Entry.js"></script>
      {{else}}

          <script src="/jquery/dist/jquery.js"></script>
          <script src="/semantic/semantic.js"></script>
          <script src="/medium-editor/dist/js/medium-editor.js"></script>
          <script src="/handlebars/handlebars.runtime.min.js"></script>
          <script src="/jquery-sortable/source/js/jquery-sortable-min.js"></script>
          <script src="/blueimp-file-upload/js/vendor/jquery.ui.widget.js"></script>
          <script src="/blueimp-file-upload/js/jquery.iframe-transport.js"></script>
          <script src="/blueimp-file-upload/js/jquery.fileupload.js"></script>
          <script src="/medium-editor-insert-plugin/dist/js/medium-editor-insert-plugin.js"></script>
          <script src="/iamport.js"></script>
          <script src="http://127.0.0.1:2992/_assets/bundle-manifest.js"></script>
          <script src="http://127.0.0.1:2992/_assets/bundle-vendors.js"></script>
          <script src="http://127.0.0.1:2992/_assets/bundle-Entry.js"></script>

      {{/if}}

      <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs32BDoB4rDq4-Mz5nQE6P8LBBJWW0_DQ">
      </script>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4ZQHC8"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
      <script async defer src='https://www.google.com/recaptcha/api.js'></script>
  </body>
</html>
